body {
  margin: 0;
  font-family: "acumin-pro", "acumin-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 960px;
  margin: 0 auto;
  padding: 1% 2%;
}
input, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
}
form {
  display: flex;
}
button {
  margin-left: 1%;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.05rem;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.books li {
  width: 23.333333%;
  padding: 1.5% 5%;
  vertical-align: top;
  max-width: 252px;
}
ul.tutorials li {
  border: 2px solid rgb(4, 6, 8);
  border-radius: 5px;
  padding: 1.5%;
  width: 33.33333%;
  margin: 1% 1%;
  height: 200px;
  box-sizing: border-box;
  box-shadow: rgb(203, 240, 255) 8px 8px 0px 0px;
  max-width: 252px;
}
ul.tutorials li h2 {
  height: 70%;
}
ul.tutorials li div {
  font-style: normal;
  font-size: 0.6em;
}
ul.books li div {
  font-style: italic;
  font-size: 0.8em;
}
ul.books li img {
  width: 252px;
  height: 333px;
  box-shadow: rgb(203, 240, 255) 8px 8px 0px 0px;
}
.book h1 {
  float: left;
  font-size: 4em;
  margin: 0;
  width: 65%;
  padding-top: 7%;
}
.book > img {
  float: right;
  width: 300px;
}
.book > div:first-of-type {
  clear: left;
  font-size: 1.7em;
  padding: 3% 0;
  width: 65%;
}
.authors {
  clear: both;
}
.authors li h3 {
  font-size: 1.5em;
  line-height: 1.1;
  margin: 0 0 12px;
}
.book h2 {
  position: relative;
  margin: 25px auto;
  display: inline-block;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.3) -4px 2px 0px;
}
h2 span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -45px;
  right: -45px;
  height: 60px;
  background: rgb(255, 149, 197);
  transform: rotate(-2deg);  
  z-index: -1;
}
.authors {
  display: flex;
  flex-wrap: wrap;
}
.authors li {
  flex: 1 1 50%;
  padding: 0 3% 3% 0;
  box-sizing: border-box;
}
.authors li div {
  font-style: normal;
  white-space: pre-wrap;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
}
.authors li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
ol {
  list-style: none;
  padding: 0;
}
ol.pager {
  display: flex;
  justify-content: center;

}
ol.pager li {
  padding: 0 .5em;
}
.contents h2 {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #32325d;
  border-bottom: 9px solid rgba(238, 33, 142, 0.15);
  display: inline-block;
  margin: 0 0 5% 0;
  text-underline-position: under;
  text-shadow: white 2px 2px, white 2px -2px, white -2px 2px, white -2px -2px;  
}
.contents ol li li {
  margin: 1em .5em;
}
.contents > ol{
  columns: auto 2;
  margin: 0px;
  font-weight: 300;
}
.contents ol li li {
  border-bottom: 1px dashed rgb(151, 151, 151);  
}
.contents ol li > div {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
.contents ol li li div {
  margin-bottom: -5px;
  font-style: italic;
  color: rgb(128, 128, 128);
}
.contents ol li li span {
  background: #fff;
}

@media only screen and (max-width: 900px) {
  ul.books li {
    width: 40%;
  }
  ul.tutorials li {
    width: 50%;
  }
  .book h1, .book > div:first-of-type {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  ul.books li {
    width: 90%;
  }
  ul.tutorials li {
    width: 100%;
  }
  .book h1, .book > div:first-of-type {
    width: 100%;
  }
  .book h1, .book > div:first-of-type, .book > img {
    clear: both;
    float: none;
  }
}
