body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.05rem;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li {
  width: 23.333333%;
  padding: 1.5% 5%;
  vertical-align: top;
  max-width: 252px;
}
ul li div {
  font-style: italic;
  font-size: 0.8em;
}
ul li img{
  width: 252px;
  height: 333px;
  box-shadow: rgb(203, 240, 255) 8px 8px 0px 0px;
}
ol {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
ol li {
  padding: 0 .5em;
}

@media only screen and (max-width: 900px) {
  ul li {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  li {
    width: 90%;
  }
}
