body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  padding: 1% 2%;
}
input, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
}
form {
  display: flex;
}
button {
  margin-left: 1%;
}
h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.05rem;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.books li {
  width: 23.333333%;
  padding: 1.5% 5%;
  vertical-align: top;
  max-width: 252px;
}
ul.tutorials li {
  border: 2px solid rgb(4, 6, 8);
  border-radius: 5px;
  padding: 1.5%;
  width: 33.33333%;
  margin: 1% 1%;
  height: 200px;
  box-sizing: border-box;
  box-shadow: rgb(203, 240, 255) 8px 8px 0px 0px;
  max-width: 252px;
}
ul.tutorials li h2 {
  height: 70%;
}
ul.tutorials li div {
  font-style: normal;
  font-size: 0.6em;
}
ul.books li div {
  font-style: italic;
  font-size: 0.8em;
}
ul.books li img {
  width: 252px;
  height: 333px;
  box-shadow: rgb(203, 240, 255) 8px 8px 0px 0px;
}
ul.authors li h2 {
  font-size: 1.5em;
  line-height: 1.1;
  margin: 0 0 12px;
}
ul.authors li div {
  font-style: normal;
  white-space: pre-wrap;
  font-size: 1em;
  line-height: 1.5;
}
ul.authors li img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
ol {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
ol li {
  padding: 0 .5em;
}

@media only screen and (max-width: 900px) {
  ul.books li {
    width: 40%;
  }
  ul.tutorials li {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  ul.books li {
    width: 90%;
  }
  ul.tutorials li {
    width: 100%;
  }
}
